Django
djangorestframework
markdown
django-filter
langchain
openai
langchainhub
psycopg2
tiktoken
faiss-cpu
django-admin-interface
django-cors-headers
django-allauth
pytest-django
django-extensions
djangorestframework-simplejwt
django-dramatiq
google
irc
django-apscheduler
pynacl
yt-dlp[default]
django-import-export
langchain-community
django-jazzmin
langchain-openai



