DATABASE_HOST=postgresql
DATABASE_PORT=5432
DATABASE_NAME=vizsgaremek
DATABASE_USER=
DATABASE_PASSWORD=
OPENAI_API_KEY=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